*.db
*.py[cod]
.web
__pycache__/
/__pycache__/
wavelet/__pycache__/
.env
*.txt
wavelet/wavelet/__pycache__/
wavelet/wavelet/components/__pycache__/
wavelet/components/__pycache__/
/wavelet/wavelet/__pycache__/
/wavelet/wavelet/components/__pycache__/
